

<h1>Employé</h1>
<section class="section pt-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="card-body">
						<ul class="list-group list-group-horizontal-xl justify-content-center">
							<li class="list-group-item">
								<p class="clearfix ">
									<span class="float-left pr-2">
										Matricule:
									</span>
									<span class="float- text-muted">
										{{client.matricule}}
									</span>
								</p>
							</li>
							<li class="list-group-item">
								<p class="clearfix ">
									<span class="float-left pr-2">
										Compte Courant:
									</span>
									<span class="float- text-muted">
									
									</span>
								</p>
							</li>
							<li class="list-group-item">
								<p class="clearfix ">
									<span class="float-left pr-2">
										Compte Epargne:
									</span>
									<span class="float- text-muted">
										
									</span>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-sm-4 justify-content-center">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card author-box">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 col-lg-4 border-right">
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Nom complet:
									</span>
									<span class="float- text-muted">
										{{client.prenom}}
										{{client.nom}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Date Naissance:
									</span>
									<span class="float- text-muted">
										{{ client.dateNaiss is empty ? " " : client.dateNaiss|date("m/d/Y ") }}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Lieu de Naissance:
									</span>
									<span class="float- text-muted">
										{{client.lieuNaiss}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Situation Matrimoniale:
									</span>
									<span class="float- text-muted">
										{{client.SM}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										adresse:
									</span>
									<span class="float- text-muted">
										{{client.adresse}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Telephone:
									</span>
									<span class="float- text-muted">
										{{client.telephone}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Email:
									</span>
									<span class="float- text-muted">
										{{client.email}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Nationalité:
									</span>
									<span class="float- text-muted">
										{{client.nationality}}
									</span>
								</p>

							</div>
							<div class="col-md-12 col-lg-4 border-right">

								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Type Piece Identity:
									</span>
									<span class="float- text-muted">
										{{client.typePieceIdentity}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Numero Piece Identity:
									</span>
									<span class="float- text-muted">
										{{client.numeroPieceIdentity}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										dateDelivrance:
									</span>
									<span class="float- text-muted">
										{{ client.dateDelivrance is empty ? " " : client.dateDelivrance|date("m/d/Y ") }}
									</span>
								</p>

								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Profession:
									</span>
									<span class="float- text-muted">
										{{client.profession}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										activité:
									</span>
									<span class="float- text-muted">
										{{client.activite}}
									</span>
								</p>

								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Taille de la Famille:
									</span>
									<span class="float- text-muted">
										{{client.tailleFamille}}
									</span>
								</p>
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Autre personne à contacter:
									</span>
									<span class="float- text-muted">
										{{client.otherContactFullName}}
									</span>
								</p>

								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Telephone autre personne à contacter:
									</span>
									<span class="float- text-muted">
										{{client.otherContactFullName}}
									</span>
								</p>


								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Lien de parenté autre contact:
									</span>
									<span class="float- text-muted">
										{{client.otherContactParentalBond}}
									</span>
								</p>

							</div>
							<div class="col-md-12 col-lg-4">
								<div class="author-box-center pb-3">
									<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
									<div class="clearfix"></div>
									<div class="badge badge-success mt-2">{{client.genre}}</div>
								</div>
								
								<p class="clearfix border-bottom">
									<span class="float-left pr-2">
										Date d'inscription
									</span>
									<span class="float- text-muted">
										{{ client.createdAt is empty ? " " : client.createdAt|date("m/d/Y ") }}
									</span>
								</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
