<section class="section pt-5">
	<div class="section-body">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					{% include "shared/notification.html.twig" %}
					<div class="card-header d-inline-flex">
						<h5 class="pt-3">Employés</h5>
						<div class="card-header-right">
							<a href="{{ path('employe_new') }}" class="btn btn-primary">
								<i class="fa fa-plus text-white"></i>Ajouter un employé</a>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table w-100" id="dtEmploye">
								<thead>
									<tr>
										<th>#</th>
										<th>Matricule</th>
										<th>Login</th>
										<th>Email</th>
										<th>Prenom</th>
										<th>Nom</th>
										<th>Telephone</th>
										<th>Actif</th>
										<th>Fonction</th>
										<th>actions</th>
									</tr>
								</thead>
								<tbody>
									{% for employe in employes %}
										<tr>
											<td>{{ loop.index}}</td>
											<td>{{ employe.matricule }}</td>
											<td>{{ employe.login }}</td>
											<td>{{ employe.email }}</td>
											<td>{{ employe.prenom }}</td>
											<td>{{ employe.nom }}</td>
											<td>{{ employe.telephone }}</td>
											<td>{{ employe.isActive ? '<div class="badge badge-success">active</div>' : '<div class="badge badge-danger">inactive</div>' }}</td>
											<td>
												{% for role in  employe.userRoles %}
													{{role.title }}
												{% endfor %}
											</td>
											<td>											
												{# <div style="display: flex;!important">
													<a class="btn btn-light btn-action" href="{{ path('user_show', {'id': user.id}) }}">
														<i class="fas fa-folder text-info"></i>
													</a>
													<a href="{{ path('user_password_update', {'id': user.id}) }}" class="btn btn-light btn-action mr-1">
														<i class="fas fa-lock text-info"></i>
													</a>
													<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-light btn-action mr-1">
														<i class="fas fa-pencil-alt text-info"></i>
													</a>
												</div> #}
											</td>
										</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
